
.home-page {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Eagle Lake";
    z-index: 1; 
    padding: 20px; /* Add some padding */
    color: rgb(0, 0, 0); 
}

/* Button container */
.button-container {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-family: "Eagle Lake";
    flex-direction: column;
    margin-bottom: 20px;
    z-index: 1;
    margin-top: 10px;
}

/* Button styling */
.button {
    font-size: 1.5em;
    padding:0px 15px;
    width: auto;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-family: "Eagle Lake";
    color: rgb(55, 201, 50);
    border-radius: 20px;
    transition: color 0.3s ease;
}

.reasons-container {
    font-size: 40px;
    font-weight: bold;
    font-family:Eagle Lake, serif;
    text-decoration: underline;
}

.button:hover {
    color: rgb(0, 0, 0);
}

.reasons-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 40px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .reason-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .reason-card h3 {
    color: #e63946;
    font-size: 1.5em;
  }
  
  .reason-card p {
    color: #333;
    font-size: 1em;
  }

